{% extends 'layout.jinja2' %}

{% block header %}
{{ header if header is not none else super() }}
{% endblock %}

{% block content %}
<div class="w3-container">
<h2 class="w3-center">Recupero della Password</h2>
</div>
<div class="w3-container">
    <p class="w3-center">{{ _("Ti abbiamo inviato una mail all'indirizzo ") }}</p>
    <p class="w3-center">"{{ email }}"</p>
    <p class="w3-center">{{ _(" con il link per la reinpostazione della password.") }}</p>
</div>
<div class="w3-container w3-center" style="margin-top: 60px;">
    <a href="{{ url_for('start') }}" class="w3-theme-d2 w3-button w3-ripple w3-hover-theme">{{ _('Indietro') }}</a>
</div>
{% endblock %}