{% extends 'layout.jinja2' %}

{% block header %}
{{ header if header is not none else super() }}
{% endblock %}

{% block content %}
<div class="w3-card-4" style="max-width: 590px; margin: auto; margin-top: 80px">
    <div class="w3-container w3-padding-24">
    <h2 class="w3-theme-d2 w3-center">{{ _('Reset Password') }}</h2>
    </div>
    <form method="POST">
        {{ form.csrf_token }}
        {# password #}
        <div class="tooltip form-group">
        {{ form.new_password.label(class="w3-theme-l4 w3-left-align form-label wbold required", style="width: 30%") }}
        {{ form.new_password(class="w3-input w3-left-align w3-theme-l4", style="width: 55%") }}
        <i class="toggle fa-regular fa-eye-slash" id="toggle-password"></i>
        <span class="w3-monospace tooltiptext"></span>
        </div>

        {# vfy_password #}
        <div class="tooltip form-group">
        {{ form.vfy_password.label(class="w3-theme-l4 w3-left-align form-label wbold required", style="width: 30%") }}
        {{ form.vfy_password(class="w3-input w3-left-align w3-theme-l4", id="vfy-password", style="width: 55%") }}
        <i class="toggle fa-regular fa-eye-slash" id="toggle-vfy-password"></i>
        <span class="w3-monospace tooltiptext"></span>
        </div>

        <div style="margin-bottom: 20px; margin-top:50px;">
        <p class="w3-center">
        {{ form.submit(class="w3-button w3-theme-action w3-hover-theme-d2 w3-ripple w3-center", style="width: 30%") }}
        </p>
        </div>
    </form>
    <p style="visibility:hidden">a</p>
</div>
{% endblock %}

{% block scripts %}
<script>
const togglePassword = document.querySelector("#toggle-password");
const toggleVfyPassword = document.querySelector("#toggle-vfy-password");
const newPassword = document.querySelector("#new_password");
const vfyPassword = document.querySelector("#vfy-password");

togglePassword.addEventListener("click", () => {
    togglePasswd(newPassword, togglePassword);
    });

toggleVfyPassword.addEventListener("click", () => {
    togglePasswd(vfyPassword, toggleVfyPassword);
    });

function togglePasswd(input, toggle) {
    const type = input.getAttribute("type") === "password" ? "text" : "password";
    input.setAttribute("type", type);

    toggle.classList.toggle("fa-eye");
    };

const bg_color = getComputedStyle(document.querySelector(":root"));
const form = document.querySelector("form");
form.addEventListener("submit", checkInput);

function resetTooltip(tooltip) {
    tooltip.textContent = "";
    tooltip.style.backgroundColor = bg_color.getPropertyValue('--th-l4');
    tooltip.style.display= "none";
}

function checkInput(evt) {
    let tooltip
    tooltip = document.querySelector("#new_password ~ span");
    if (! newPassword.value){
        tooltip.textContent = "{{ _('Password non inserita') }}";
        tooltip.style.backgroundColor = bg_color.getPropertyValue('--th-l3');
        tooltip.style.display = "block";
        evt.preventDefault();
    } else {
        resetTooltip(tooltip);
    }

    tooltip = document.querySelector("#vfy-password ~ span");
    if (! vfyPassword.value){
        tooltip.textContent = "{{ _('Password non inserita') }}";
        tooltip.style.backgroundColor = bg_color.getPropertyValue('--th-l3');
        tooltip.style.display = "block";
        evt.preventDefault();
    } else {
        resetTooltip(tooltip);
    }
}
</script>
{% endblock %}
