{% extends 'layout.jinja2' %}

{% block header %}
{{ header if header is not none else super() }}
{% endblock %}

{% block content %}
<div class="w3-card-4 w3-padding-large" style="max-width: 500px; margin: auto; margin-top: 80px">
    <div class="w3-container w3-padding-24">
        <h2 class="w3-center w3-theme-d2">{{ _('Nuovo Utente') }}</h2>
    </div>

    <form method="POST">
        {{ form.csrf_token }}

        {# username #}
        <div class="w3-container w3-row form-group" style="margin-bottom: 10px">
            <div class="w3-col m4 w3-mobile">
                {{ form.username.label(class="w3-theme-l4 w3-left-align form_label wbold required") }}
            </div>
            <div class="w3-col m8 w3-mobile tooltip">
                {{ form.username(class="w3-left-align w3-input w3-theme-l4") }}
                <span class="w3-monospace tooltiptext"></span>
            </div>
        </div>

        {# password #}
        <div class="w3-container w3-row form-group"  style="margin-bottom: 10px">
            <div class="w3-col m4 w3-mobile">
                {{ form.password.label(class="w3-theme-l4 w3-left-align form_label wbold required") }}
            </div>
            <div class="w3-col m8 w3-mobile tooltip" style="display: flex; flex-wrap: nowrap;">
                {{ form.password(class="w3-input w3-left-align w3-theme-l4") }}
                <span class="toggle w3-border-bottom fa-regular fa-eye-slash" id="toggle-password"></span>
                <span class="w3-monospace tooltiptext"></span>
            </div>
        </div>

        {# vfy_password #}
        <div class="w3-container w3-row form-group"  style="margin-bottom: 10px">
            <div class="w3-col m4 w3-mobile">
                {{ form.vfy_password.label(class="w3-theme-l4 w3-left-align form_label wbold required") }}
            </div>
            <div class="w3-col m8 w3-mobile tooltip" style="display: flex; flex-wrap: nowrap;">
                {{ form.vfy_password(class="w3-input w3-left-align w3-theme-l4") }}
                <span class="toggle w3-border-bottom fa-regular fa-eye-slash" id="toggle-vfy-password"></span>
                <span class="w3-monospace tooltiptext"></span>
            </div>
        </div>

        {# E-mail #}
        <div class="w3-container w3-row form-group" style="margin-bottom: 10px" >
            <div class="w3-col m4 w3-mobile">
                {{ form.email.label(class="w3-theme-l4 w3-left-align form_label wbold required") }}
            </div>
            {# <div class="w3-col m8 w3-mobile tooltip" style="display: flex; flex-wrap: nowrap;"> #}
            <div class="w3-col m8 w3-mobile tooltip">
                {{ form.email(class="w3-input w3-left-align w3-theme-l4") }}
                <span class="w3-monospace tooltiptext"></span>
            </div>
        </div>

        <div style="margin-bottom: 20px; margin-top:50px;">
        <p class="w3-center">
        {{ form.submit(class="w3-button w3-theme-action w3-hover-theme-d2 w3-ripple w3-center", style="width: 45%") }}
        </p>
        </div>
    </form>
    <p style="visibility:hidden">a</p>
</div>
{% endblock %}

{% block scripts %}
<script>
const togglePassword = document.querySelector("#toggle-password");
const toggleVfyPassword = document.querySelector("#toggle-vfy-password");
const password = document.querySelector("#password");
const vfyPassword = document.querySelector("#vfy_password");
const username = document.querySelector("#username");
const email = document.querySelector("#email");

togglePassword.addEventListener("click", () => {
    togglePasswd(password, togglePassword);
    });

toggleVfyPassword.addEventListener("click", () => {
    togglePasswd(vfyPassword, toggleVfyPassword);
    });

function togglePasswd(input, toggle) {
    const type = input.getAttribute("type") === "password" ? "text" : "password";
    input.setAttribute("type", type);

    toggle.classList.toggle("fa-eye");
    };

const bg_color = getComputedStyle(document.querySelector(":root"));
const form = document.querySelector("form");
form.addEventListener("submit", checkInput);

function resetTooltip(tooltip) {
    tooltip.textContent = "";
    tooltip.style.display= "none";
}

function checkInput(evt) {
    let tooltip
    tooltip = document.querySelector("#username ~ [class~=tooltiptext]");
    if (! username.value){
        tooltip.textContent = "{{ _('Inserire uno username') }}";
        tooltip.style.display = "block";
        evt.preventDefault();
        return;
    } else {
        resetTooltip(tooltip);
    }

    tooltip = document.querySelector("#password ~ [class~=tooltiptext]");
    if (! password.value){
        tooltip.textContent = "{{ _('Inserire una password') }}";
        tooltip.style.display = "block";
        evt.preventDefault();
        return;
    } else {
        resetTooltip(tooltip);
    }

    tooltip = document.querySelector("#vfy_password ~ [class~=tooltiptext]");
    if (! vfyPassword.value){
        tooltip.textContent = "{{ _('Reinserire la password') }}";
        tooltip.style.display = "block";
        evt.preventDefault();
        return;
    } else {
        resetTooltip(tooltip);
    }

    tooltip = document.querySelector("#email ~ [class~=tooltiptext]");
    if (! email.value){
        tooltip.textContent = "{{ _('Inserire una E-mail') }}";
        tooltip.style.display = "block";
        evt.preventDefault();
    } else {
        resetTooltip(tooltip);
    }
}

let error = "";
{% for err in form.email.errors %}error += "{{ err }}, "{% endfor %}
if (error) {
    tooltip = document.querySelector("#email ~ [class~=tooltiptext]");
    tooltip.textContent = error.slice(0, -2)
    tooltip.style.display = "block";
}
</script>
{% endblock %}
