.venv/

*.pyc
__pycache__/

instance/
shortly/

.pytest_cache
.coverage
htmlcov/

dist/
build/
*.egg-info/
.idea
.vscode

*.orig

*.db
cmd.py
flask_app/

progetto.*
utils/
uploaded/

w3_unminified.css
s_*.jinja2
*.pot
*.mo

token
