<!doctype html>
<html>
<head>
<title>AMP - Mappa</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="{{ url_for('static', filename='css/w3-styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/my-styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/my-theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/ol.css') }}">

<script src="https://kit.fontawesome.com/40f7c1eb26.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='scripts/ol.js') }}"></script>

<style>
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 150px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}
</style>
</head>

<body>
    <div id="map"></div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>

<script>
const container = document.querySelector("#popup");
const content = document.querySelector("#popup-content");
const closer = document.querySelector("#popup-closer");

const overlay = new ol.Overlay({
     element: container,
     offset: [0, -20],
     autoPan: true,
     autoPanAnimation: {
         duration: 250
     }
 });

closer.addEventListener("click",  (evt) => {
     overlay.setPosition(undefined);
     closer.blur();
     return false;
 });

closer.onclick = function() {
     overlay.setPosition(undefined);
     closer.blur();
     return false;
 };

const attribution = new ol.control.Attribution({
  attributions: ['<a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap</a>',
                 '<a target="_blank" href="https://icons8.com/icon/97370/location"> | Marker</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>'],
  collapsible: false,
});

const tileLayer = new ol.layer.Tile({
    source: new ol.source.OSM({
        attributions: '',
        maxZoom: 19,
    }),
});

const style = {
  'MultiLineString': new ol.style.Style({
    stroke: new ol.style.Stroke({
      color: '#00f',
      width: 3,
    }),
  }),
};

const gpxLayer = new ol.layer.Vector({
    source: new ol.source.Vector({
        url: {{ url_for("download_files", filename="tracks/"+track)|tojson }},
        format: new ol.format.GPX(),
    }),
    style: function (feature) {
        return style[feature.getGeometry().getType()];
    },
});

const iconStyle = new ol.style.Style({
    image: new ol.style.Icon({
        anchor: [0.5, 40],
        anchorXUnits: 'fraction',
        anchorYUnits: 'pixels',
        src: "{{ url_for('static', filename='images/marker.png') }}"
    })
});

const map = new ol.Map({
  layers: [
    tileLayer,
    gpxLayer
  ],
  controls: ol.control.defaults.defaults({attribution: false}).extend([attribution]),
  target: 'map',
  view: new ol.View({
    center: ol.proj.fromLonLat([{{ long }}, {{ lat }}]),
    maxZoom: 19,
    zoom: 16,
  }),
});

map.addOverlay(overlay);

let mediaURL;
let marker;
let iconFeature;
{% for md in media %}
    mediaURL = "{{ url_for('download_files', filename='images/'+md.Media.media_src) }}";
    iconFeature =  new ol.Feature ({
        geometry: new ol.geom.Point(ol.proj.fromLonLat([{{ md.Media.long }}, {{ md.Media.lat }}])),
        mediaURL: mediaURL,
        name: 'media'
    });

    iconFeature.setStyle(iconStyle);

    marker = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: [iconFeature]
        }),
    });

    map.addLayer(marker);
{% endfor %}

map.addEventListener('singleclick', (evt) => {
    if (map.hasFeatureAtPixel(evt.pixel) === true) {
        const coordinate = evt.coordinate;
        const features = map.getFeaturesAtPixel(evt.pixel);

        let mediaURL;
        for (let feature of features) {
            if (feature.get('name') == 'media') {
                mediaURL = feature.get('mediaURL');
                break;
            }
        }
        content.innerHTML = `<a target="_blank" href=${mediaURL}><img src=${mediaURL} style='width: 100px;'></a>`;
        overlay.setOffset([0,0]);
        overlay.setPosition(coordinate);
    }
 });

function checkSize() {
  const small = map.getSize()[0] < 600;
  attribution.setCollapsible(small);
  attribution.setCollapsed(small);
}

map.on('change:size', checkSize);
checkSize();

const features = map.getFeaturesAtPixel(map.getPixelFromCoordinate(ol.proj.fromLonLat([{{ long }}, {{ lat }}])));

for (let feature of features) {
    if (feature.get('name') == 'media') {
        mediaURL = feature.get('mediaURL');
        break;
    }
};

content.innerHTML = '{{ popup }}';
overlay.setPosition(ol.proj.fromLonLat([{{ long }}, {{ lat }}]));
</script>
</body>
</html>
