body {
	font-size: 16px;
}
.content {
	padding: 0 1rem 1rem;
}
aside {
	width: 25%;
	padding-left: 15px;
	float: left;
}
h1 {
	text-align: center;
	letter-spacing: 5px;
	font-size: 2rem;
}
.flash {
	margin: auto;
	margin-top: 10px;
	padding: 1em;
	max-width: 400px;
	border: 3px solid;
}
.icon28 {
	font-size: 24px;
	color: chocolate;
}
span.icon28 {
	font-variation-settings: 'OPSZ' 28;
	font-variation-settings: 'GRAD' 50;
}
.icon28:hover {
	color: red;
	background: var(--th-d3)
}
.done {
	font-size: 24px;
	color: teal;
}
span.done {
	font-variation-settings: 'OPSZ' 36;
	font-variation-settings: 'GRAD' 400;
}

span.icon28:hover {
	color: red;
	background: #f9e58c
}
nav a {
	font-size: 1.2rem;
}
.required:after {
	content:" *";
	color: red;
}
.wbold {
	font-weight: bold;
}
p, a {
	font-size: 1.2rem;
}
img.webp {
	width: 170px;
	height: 170px;
}
.row:nth-of-type(even) {
	background-color: var(--th-l3);
}
.row:nth-of-type(odd) {
	background-color: var(--th-l1);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.form_item {
	width: 90%;
	margin-left: 5%
}

.form_label {
    padding: 8px;
}

.a-like {
    text-decoration-line: underline;
}
.a-like:hover, .a-like-hover:hover {
    cursor: pointer;
}

.a-no-decoration {
    text-decoration-line: none;
}

.Xref {
    max-width: 300px;
    margin-top: 50px;
    padding: 20px 100px;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext, .tooltip .tooltiptext_login {
    display: none;
    min-width: 150px;
    background-color: var(--th-l1);
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 25%;
    margin-left: -60px;
    font-size: 14px;
}
.tooltip .tooltiptext_login {
    top: 130%;
    left: 50%;
}

.tooltip .tooltiptext::after, .tooltip .tooltiptext_login::after {
    background-color: var(--th-l4);
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent var(--th-d5) transparent;
}

form  i {
	margin-left: -60px;
	margin-top: -30px;
	margin-right: 25px;
	cursor: pointer;
}

form  .toggle {
	margin-top: 15px;
	cursor: pointer;
}

form  span.special {
    display: inline-block;
    margin-top: -20px;
    margin-left: -40px;
	cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

label {
    padding-right: 5px;
}


