body {
	font-size: 16px;
}
.content {
	padding: 0 1rem 1rem;
}
aside {
	width: 25%;
	padding-left: 15px;
	float: left;
	overflow: scroll;
}
h1 {
	text-align: center;
	letter-spacing: 5px;
	font-size: 2rem;
}
h2 {
	margin-top: 50px;
	margin-bottom: 60px;
}
h2.no-margins {
	margin: 0;
}
.flash { 
	margin: auto;
	margin-top: 10px;
	padding: 1em;
	max-width: 400px;
	border: 3px solid;
}
span.icon28 {
	font-size: 28px;
	background: #fefae8;
	color: chocolate;
	font-variation-settings: 'OPSZ' 28;
	font-variation-settings: 'GRAD' 50;
}
span.icon28:hover {
	color: red;
	background: #f9e58c
}
span.done {
	font-size: 24px;
	color: teal;
	font-variation-settings: 'OPSZ' 36;
	font-variation-settings: 'GRAD' 400;
}
nav a {
	font-size: 1.2rem;
}
.required:after {
	content:" *";
	color: red;
}
.wbold {
	font-weight: bold;
}
p, a {
	font-size: 1.2rem;
}
img.webp {
	width: 170px;
	height: 170px;
}
.row:nth-of-type(even) {
	background-color: #fdf4d0;
}
.row:nth-of-type(odd) {
	background-color: #faeaa2;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.form_item {
	width: 90%;
	margin-left: 5%
}
