{% extends 'layout.jinja2' %}

{% block title %}Alberghi{% endblock %}

{% block hamburger %}
  <a id="openNav" href="javascript: void(0)" class="w3-bar-item w3-ripple w3-button w3-hover-theme w3-xlarge w3-hide-large" onclick="toggleMenu()">&#9776;</a>
{% endblock %}

{% block aside %}
<div id="sidebar" class="w3-sidebar w3-bar-block w3-card w3-theme-l4 w3-collapse w3-animate-top" style="width: 25%; overflow: auto;">
  <h5 class="w3-bar-item w3-theme-d4">Alberghi</h5>
  {% for hotel in hotels %}
  	<button id="btn_{{ hotel.Hotel.id }}" class="w3-bar-item w3-button w3-ripple w3-hover-theme tablink" onclick='openHotel(event, "{{ hotel.Hotel.id }}")'>{{ hotel.Hotel.name }}</button>
  {% endfor %}
  {% if '_user_id' in session.keys() %}
    <div class="w3-container" style="margin-top: 20px">
      <a href="{{ url_for('dbms_bp.add_hotel') }}" class="w3-bar-item w3-center w3-ripple" title="Aggiungi hotel"><span class="material-symbols-outlined icon28">add</span></a>
    </div>
  {% endif %}
  <button class="w3-bar-item w3-button w3-hover-theme-l4" style="height: 120px"> </button>
</div>
{% endblock %}

{% block content %}
<div id="display" class="w3-main" style="margin-left: 25%;">

  <div id="summary" class="w3-container w3-center" style="display: block">
    <header>
      <div class="w3-display-container" style="height: 150px; margin-bottom: 50px">
        <h2 class="w3-display-middle">Attenzione</h2>
      </div>
    </header>

    <p>Questi sono gli alberghi trovati lungo il percorso. Ma la ricerca continua...</p>
    <p>E non è detto che alla fine si possa travare un albergo non inserito nella lista.</P>
  </div>

  {% for hotel in hotels %}
  <div id="{{ hotel.Hotel.id}}" class="w3-container albergo" style="display: none">
    <header class="w3-container">
      <div class="clearfix" style="height: 200px">
        {% if hotel.Hotel.photo %}
          <img src='{{ url_for("download_files", filename="images/"+hotel.Hotel.photo) }}' class="w3-left w3-margin-left w3-margin-top webp">
        {% else %}
          <img src='{{ url_for("static", filename="images/default.webp") }}' class="w3-left w3-margin-left w3-margin-top webp">
        {% endif %}

          <h2 class="w3-center w3-padding-i48">{{ hotel.Hotel.name }}</h2>
      </div>
    </header>

    {# Display dati hotel #}
    <article style="margin: 60px 5% 0 5%">
      <div class="row w3-row">
        <div class="w3-container w3-third w3-mobile">
          <p class="w3-left-align wbold">Indirizzo:</p>
        </div>
        <div class="w3-container w3-twothird w3-mobile">
          <p class="w3-left-align">{{ hotel.Hotel.address }}</p>
        </div>
      </div>

      <div class="row w3-row">
        <div class="w3-container w3-third w3-mobile">
          <p class="w3-left-align wbold">Città:</p>
        </div>
        <div class="w3-container w3-twothird w3-mobile">
          <p class="w3-left-align">{{ hotel.Hotel.town }}</p>
        </div>
      </div>

      <div class="row w3-row">
        <div class="w3-container w3-third w3-mobile">
          <p class="w3-left-align wbold">Prenotazione:</p>
        </div>
        <div class="w3-container w3-twothird w3-mobile">
        {% if hotel.Hotel.reserved %}
          <p class="w3-left-align"><span  class="material-symbols-outlined done">done</span></p>
        {% else %}
          <p></p>
        {% endif %}
        </div>
      </div>

      <div class="row w3-row">
        <div class="w3-container w3-third w3-mobile">
          <p class="w3-left-align wbold">Check-in:</p>
        </div>
        <div class="w3-container w3-twothird w3-mobile">
          <p class="w3-left-align">{{ hotel.Hotel.check_in.strftime("%A %d %b") }}</p>
        </div>
      </div>

      <div class="row w3-row">
        <div class="w3-container w3-third w3-mobile">
          <p class="w3-left-align wbold">Check-out:</p>
        </div>
        <div class="w3-container w3-twothird w3-mobile">
        {% if hotel.Hotel.check_out %}
          <p class="w3-left-align">{{ hotel.Hotel.check_out.strftime("%A %d %b") }}</p>
        {% else %}
          {% set check_out = hotel.Hotel.check_in + timedelta(days=1) %}
          <p class="w3-left-align">{{ check_out }}</p> 
        {% endif %}
        </div>
      </div>

      {% if hotel.Hotel.price %}         
      <div class="row w3-row">
        <div class="w3-container w3-third w3-mobile">
          <p class="w3-left-align wbold">Costo:</p>
        </div>
        <div class="w3-container w3-twothird w3-mobile">
          <p class="w3-left-align">&euro;{{ hotel.Hotel.price }}</p>
        </div>
      </div>
      {% endif %}

      {% if hotel.Hotel.lap %}
      <div class="row w3-row">
        <div class="w3-container w3-third w3-mobile">
          <p class="w3-left-align wbold">Tappa:</p>
        </div>
        <div class="w3-container w3-twothird w3-mobile">
          <p class="w3-left-align"><a href='{{ url_for("lap_bp.tappa", id=hotel.Hotel.lap.id) }}' target="_blank">{{ hotel.Hotel.lap.start }} - {{ hotel.Hotel.lap.destination }}</a></p>
        </div>
      </div>
      {% endif %}

      {% if hotel.Hotel.link %}
      <div class="row w3-row">
        <div class="w3-container w3-third w3-mobile">
          <p class="w3-left-align wbold">Vedilo su Booking.com</p>
        </div>
        <div class="w3-container w3-twothird w3-mobile">
          <p class="w3-left-align"><a href="{{ hotel.Hotel.link }}" target="_blank" alt="pagine hotel su Booking.com">{{ hotel.Hotel.name }}</a></p>
        </div>
      </div>
      {% endif %}

      {% if '_user_id' in session.keys() %}
        <div class="w3-container w3-center" style="margin-top: 80px;">
          <div class="w3-bar">
            <a href="{{ url_for('dbms_bp.update_hotel', id=hotel.Hotel.id) }}" class="w3-bar-item w3-ripple" title="Modifica hotel"><span class="material-symbols-outlined icon28">edit</span></a>
            <a href="{{ url_for('dbms_bp.delete_hotel', id=hotel.Hotel.id) }}" class="w3-bar-item w3-ripple" title="Cancella hotel"><span class="material-symbols-outlined icon28">delete</span></a>
          </div>
        </div>
      {% endif %}
    </article>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
function restore() {
   let session = {{ session|tojson }};

   if (session['hotel_id']) {
    document.getElementById(session['hotel_id']).style.display = "block";
   }
   if (session['btn_id']) {
    document.getElementById(session['btn_id']).className += " w3-amber";
   }
}
</script>
{% endblock %}
