{% extends 'laps.jinja2' %}

{% block title %}Tappe{% endblock %}

{% block header %}
{{ header }}
{% endblock %}

{% block hamburger %}
<a id="open_list" href="javascript: void(0)" class="w3-bar-item w3-right w3-ripple w3-button w3-hover-theme w3-hide-large"><i class="fa-solid fa-list fa-lg"></i></a>
{% endblock %}

{#
{% block aside %}
<div id="sidebar" class="w3-sidebar w3-bar-block w3-card w3-theme-l3 w3-collapse w3-animate-zoom" style="width: 25%; overflow: auto;">
    <h5 class="w3-bar-item w3-theme-d4">{{ _('Tappe') }}</h5>
    {% for lap in laps %}
        <button id="btn_{{ lap.Lap.id }}" class="w3-bar-item w3-button w3-ripple w3-hover-theme tablink"  data-lap-id="{{ lap.Lap.id }}">{{ lap.Lap.start }} - {{ lap.Lap.destination }}</button>
    {% endfor %}

    {% if is_editable %}
        <div class="w3-panel w3-center w3-bar-item" style="margin-top: 30px;">
            <a href="{{ url_for('dbms_bp.add_lap') }}" class="w3-ripple" title={{ _('Aggiungi tappa" ') }}><i class="fa-solid fa-plus icon28"></i></a>
        </div>
    {% endif %}

    {% for number in range(laps|count + 1, laps|count + 16) %}
        <button id="btn_{{ number }}" class="w3-bar-item w3-button w3-hover-none"></button>
    {% endfor %}
</div>
{% endblock %}
#}

{% block single_lap %}
<div id="lap" class="w3-container w3-center tappa">
    {# $Begin #}
    <header>
        <div class="w3-display-container" style="height: 200px;">
            <h3 class="w3-display-middle">{{ lap.start }} - {{ lap.destination }}</h3>
        </div>
    </header>

    <article style="margin: 0 5% 0 5%;">
        <div class="row w3-row">
            <div class="w3-container w3-third w3-mobile">
                <p class="w3-left-align wbold">{{ _('Data') }}:</p>
            </div>
            <div class="w3-container w3-twothird w3-mobile">
                <p class="w3-left-align">{{ lap.date.strftime("%A %d %b %Y") }}</p>
            </div>
        </div>

        {% if lap.distance %}
        <div class="row w3-row">
            <div class="w3-container w3-third w3-mobile">
                <p class="w3-left-align wbold">{{ _('Distanza') }}:</p>
            </div>
            <div class="w3-container w3-twothird w3-mobile">
                <p class="w3-left-align">{{ lap.distance }} Km</p>
            </div>
        </div>
        {% endif %}

        {% if lap.ascent %}
        <div class="row w3-row">
            <div class="w3-container w3-third w3-mobile">
                <p class="w3-left-align wbold">{{ _('Dislivello salita') }}:</p>
            </div>
            <div class="w3-container w3-twothird w3-mobile">
                <p class="w3-left-align">{{ lap.ascent }} m</p>
            </div>
        </div>
        {% endif %}

        {% if lap.descent %}
        <div class="row w3-row">
            <div class="w3-container w3-third w3-mobile">
                <p class="w3-left-align wbold">{{ _('Dislivello discesa') }}:</p>
            </div>
            <div class="w3-container w3-twothird w3-mobile">
                <p class="w3-left-align">{{ lap.descent }} m</p>
            </div>
        </div>
        {% endif %}

        {% if lap.duration %}
        <div class="row w3-row">
            <div class="w3-container w3-third w3-mobile">
                <p class="w3-left-align wbold">{{ _('Tempo') }}:</p>
            </div>
            <div class="w3-container w3-twothird w3-mobile">
                <p class="w3-left-align">{{ lap.duration.strftime("%H:%M:%S") }}</p>
            </div>
        </div>
        {% endif %}

        {% if lap.distance and lap.duration %}
        <div class="row w3-row">
            <div class="w3-container w3-third w3-mobile">
                <p class="w3-left-align wbold">{{ _('Media prevista') }}:</p>
            </div>
            <div class="w3-container w3-twothird w3-mobile">
                {% set media = lap.distance * 1000 / ( lap.duration.hour * 3600 + lap.duration.minute *60 + lap.duration.second) * 3.6 %}
                <p class="w3-left-align">{{ media|round(2) }} Km/h</p>
            </div>
        </div>
        {% endif %}

        <div class="row w3-row">
            <div class="w3-container w3-third w3-mobile">
                <p class="w3-left-align wbold">{{ _('Fatta') }}:</p>
            </div>
            <div class="w3-container w3-twothird w3-mobile">
                {% if lap.done %}
                    <p class="w3-left-align"><i  class="fa-solid fa-check done"></i></p>
                {% else %}
                    <p></p>
                {% endif %}
            </div>
        </div>

        {% if lap.gpx %}
        <div class="row w3-row">
            <div class="w3-container w3-col m4 w3-mobile">
                <p class="w3-left-align wbold">{{ _('Traccia gpx') }}:</p>
            </div>
            <div class="w3-container w3-col m7 w3-mobile">
                <p class="w3-left-align"><a href='{{ url_for("download_files", filename="tracks/"+lap.gpx) }}'>{{ lap.start }} - {{ lap.destination }}</a></p>
            </div>
            <div class="w3-container w3-col m1 w3-mobile">
                <p class="w3-left-align"><a target="_blank" href="{{ url_for("map_bp.lap_map", id=lap.id) }}" class="w3-hover-theme-d3 w3-right"><i class="fa-solid fa-map-location-dot icon28"></i></a></p>
            </div>
        </div>
        {% endif %}

        {% if lap.hotels %}
        <div class="row w3-row">
            <div class="w3-container w3-third w3-mobile">
                <p class="w3-left-align wbold">{{ _('Alberghi') }}:</p>
            </div>
            <div class="w3-container w3-twothird w3-mobile">
                {% for hotel in lap.hotels %}
                    <p class="w3-left-align"><a href='{{ url_for("lap_bp.hotel", id=hotel.id) }}'>{{ hotel.name }}</a></p>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if prev_lap %}
        <div class="row w3-row">
            <div class="w3-container w3-third w3-mobile">
                <p class="w3-left-align wbold">{{ _('Tappa precedente') }}:</p>
            </div>
            <div class="w3-container w3-twothird w3-mobile" >
                <p class="w3-left-align"><span id="info_prev" class="a-like" data-lap-id="{{ prev_lap.id }}">{{ prev_lap.start}} - {{ prev_lap.destination }}</span></p>
            </div>
        </div>
        {% endif %}

        {% if next_lap %}
        <div class="row w3-row">
            <div class="w3-container w3-third w3-mobile">
                <p class="w3-left-align wbold">{{ _('Tappa successiva') }}:</p>
            </div>
            <div class="w3-container w3-twothird w3-mobile">
                <p class="w3-left-align"><span id="info_next" class="a-like" data-lap-id="{{ next_lap.id }}">{{ next_lap.start}} - {{ next_lap.destination }}</span></p>
            </div>
        </div>
        {% endif %}

        {% if lap.has_photos %}
        <div class="w3-content w3-theme w3-hover-theme Xref">
            <a href={{ url_for("lap_bp.lap_media", id=lap.id) }} class="a-no-decoration">{{ _('Foto') }}</a>
        </div>
        {% endif %}

        {% if is_editable %}
        <div class="w3-container w3-center" style="margin-top: 60px;">
            <div class="w3-bar">
                <a href="{{ url_for('dbms_bp.load_lap_media', id=lap.id) }}" class="w3-bar-item w3-left w3-ripple" title="{{ _('Aggiungi foto/film') }}"><i class="fa-solid fa-photo-film icon28"></i></a>
                <a href="{{ url_for('dbms_bp.update_lap', id=lap.id) }}" class="w3-bar-item w3-ripple" title="{{ _('Modifica questa tappa') }}"><i class="fa-solid fa-pencil icon28"></i></a>
                <a href="{{ url_for('dbms_bp.delete_lap', id=lap.id) }}" class="w3-bar-item w3-ripple" title="{{ _('Cancella questa tappa') }}"><i class="fa-solid fa-trash-can icon28"></i></a>
            </div>
        </div>
        {% endif %}
    </article>
    {# $End #}
</div>
{% endblock %}

{% block scripts %}
<script>
    const SCRIPT_ROOT = {{ url_for("lap_bp.lapJS", id=-1)|tojson }};
    const btn = document.querySelector(`#btn_{{ lap.id }}`);
    btn.className += " w3-theme-d2";
</script>
{% endblock %}
