alembic
babel
blinker
cachelib
click
dnspython
email_validator
Flask
flask-babel
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Session
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
Mako
MarkupSafe
msgspec
packaging
psycopg2-binary
python-dotenv
pytz
SQLAlchemy
typing_extensions
Werkzeug
WTForms
