click
cssmin
Flask
Flask-Assets
Flask-SQLAlchemy
Flask-WTF
gunicorn
iniconfig
itsdangerous
Jinja2
jsmin
lesscpy
MarkupSafe
ply
psycopg2-binary
python-dotenv
SQLAlchemy
SQLAlchemy-Utils
webassets
Werkzeug
WTForms
