alembic
babel
blinker
cachelib
click
Flask
flask-babel
Flask-Login
Flask-Migrate
Flask-Session
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
msgspec
psycopg2-binary
python-dotenv
pytz
SQLAlchemy
typing_extensions
Werkzeug
WTForms
