{% extends 'layout.jinja2' %}

{% block styles %}
	h1 {
		color: #cddc39
		letter-spacing: 5px;
		font-size: 2rem;
    margin-top: 50px;
	}
  h2 {
    margin-top: 50px;
    margin-bottom: 60px;
    }
  p, a {
    font-size: 1.2rem;
  }
  .row:nth-of-type(even) {
    background-color: #ffffcc;
  }
  .row:nth-of-type(odd) {
    background-color: #f0e68c;
  }

{% endblock %}

{% block header %}
	<div class="w3-display-container" style="display: none">
		<h1 class="w3-display-middle">{% block title %}Tappe{% endblock %}</h1>
	</div>
{% endblock %}

{% block content %}
{# sidebar con l'elenco delle tappe #}
<div class="w3-sidebar w3-bar-block w3-sand w3-card" style="width: 25%">
  <h4 class="w3-bar-item  w3-orange">Tappe</h4>
  {% for lap in laps %}
  	<button id="btn_{{ lap.Lap.id }}" class="w3-bar-item w3-button w3-ripple w3-hover-amber tablink" onclick='openLap(event, "{{ lap.Lap.id }}")'>{{ lap.Lap.start }} - {{ lap.Lap.destination }}</button>
  {% endfor %}
  {% if '_user_id' in session.keys() %}
    <div class="w3-container" style="margin-top: 40px;">
      <a href="{{ url_for('dbms_bp.add_lap') }}" class="w3-bar-item w3-center w3-ripple w3-button w3-hover-sand" title="Aggiungi tappa"><span class="material-symbols-outlined icon28">add</span></a>
    </div>
  {% endif %}
</div>
{# Visualizzazione delle tappe: orininariamente tutte le descrizione hanno "display=None" e quindi nessuna viene
   visualizzata. È lo script java attivato dal click sulla tappa nella sidebar che cambia il valore del display in
   "block" permettendo la viasualizzazione della tappa scelta
#}
<div style="margin-left: 25%;">
{% for lap in laps %}
	<div id="{{ lap.Lap.id }}" class="w3-container tappa" style="display: none">
  	<div class="w3-display-container" style="height: 120px;">
		  <h2 class="w3-display-middle">{{ lap.Lap.start }} - {{ lap.Lap.destination }}</h2>
	  </div>

    <div style="margin-top: 100px; margin-right: 20%">
      <div class="row w3-row w3-container">
        <div class="w3-col l4 m4 s5">
          <p class="w3-left-align">Data:</p>
        </div>
        <div class="w3-col l5 m4 s5">
          <p class="w3-left-align">{{ lap.Lap.date.strftime("%A %d %b") }}</p>
        </div>
      </div>

      {% if lap.Lap.distance %}
      <div class="row w3-row w3-container">
        <div class="w3-col l4 m4 s5">
          <p class="w3-left-align">Distanza:</p>
        </div>
        <div class="w3-col l5 m4 s5">
          <p class="w3-left-align">{{ lap.Lap.distance }} Km</p>
        </div>
      </div>
      {% endif %}

      {% if lap.Lap.ascent %}
      <div class="row w3-row w3-container">
        <div class="w3-col l4 m4 s5">
          <p class="w3-left-align">Dislivello salita:</p>
        </div>
        <div class="w3-col l5 m4 s5">
          <p class="w3-left-align">{{ lap.Lap.ascent }} m</p>
        </div>
      </div>
      {% endif %}

      {% if lap.Lap.descent %}
      <div class="row w3-row w3-container">
        <div class="w3-col l4 m4 s5">
          <p class="w3-left-align">Dislivello discesa:</p>
        </div>
        <div class="w3-col l5 m4 s5 w3">
          <p class="w3-left-align">{{ lap.Lap.descent }} m</p>
        </div>
      </div>
      {% endif %}

      {% if lap.Lap.duration %}
      <div class="row w3-row w3-container">
        <div class="w3-col l4 m4 s5">
          <p class="w3-left-align">Tempo previsto:</p>
        </div>
        <div class="w3-col l5 m4 s5">
          <p class="w3-left-align">{{ lap.Lap.duration.strftime("%H:%M") }}</p>
        </div>
      </div>
      {% endif %}

      {% if lap.Lap.distance and lap.Lap.duration %}
      <div class="row w3-row w3-container">
        <div class="w3-col l4 m4 s5">
          <p class="w3-left-align">Media prevista:</p>
        </div>
        <div class="w3-col l5 m4 s5">
          {% set media = lap.Lap.distance * 1000 / ( lap.Lap.duration.hour * 3600 + lap.Lap.duration.minute *60) * 3.6 %}
          <p class="w3-left-align">{{ media|round(2) }} Km/h</p>
        </div>
      </div>
      {% endif %}

      {% if lap.Lap.gpx %}
      <div class="row w3-row w3-container">
        <div class="w3-col l4 m4 s5">
          <p class="w3-left-align">Traccia gpx:</p>
        </div>
        <div class="w3-col l5 m4 s5">
            <p class="w3-left-align"><a href='{{ url_for("static_files", filename=lap.Lap.gpx) }}'>{{ lap.Lap.start }}-{{ lap.Lap.destination }}</a></p>
        </div>
      </div>
      {% endif %}
      
      {% if lap.Lap.hotels %}
      <div class="row w3-row w3-container">
        <div class="w3-col l4 m4 s5">
          <p class="w3-left-align">Alberghi:</p>
        </div>
        <div class="w3-col l5 m4 s5">
          {% for hotel in lap.Lap.hotels %}
            <p class="w3-left-align"><a href='{{ url_for("lap_bp.albergo", id=hotel.id) }}' target="_blank">{{ hotel.name }}</a></p>
          {% endfor %}
        </div>
      </div>
      {% endif %}


      {% if '_user_id' in session.keys() %}
        <div class="w3-container w3-center" style="margin-top: 60px;">
          <div class="w3-bar">
            <a href="{{ url_for('dbms_bp.update_lap', id=lap.Lap.id) }}" class="w3-bar-item w3-ripple w3-button w3-hover-sand" title="Modifica tappa"><span class="material-symbols-outlined icon28">edit</span></a>
            <a href="{{ url_for('dbms_bp.delete_lap', id=lap.Lap.id) }}" class="w3-bar-item w3-ripple w3-button w3-hover-sand" title="Cancella tappa"><span class="material-symbols-outlined icon28">delete</span></a>
            
          </div>
        </div>
      {% endif %}
    </div> 
  </div>
  {% endfor %}
</div>
{% endblock %}
