{% extends 'layout.jinja2' %}

{% block styles %}
h1 {
	color: #2bf82b;	
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 15px;
	text-shadow: 5px 5px;
	font-size: 5rem;
}
{% endblock %}

{% block header %}
{{ header if header is not none else super() }}
{% endblock %}


{% block language %}
{{ lang_selector }}
{% endblock %}

{% block content %}
<div style="margin-top: 60px">
    <div class="w3-content w3-display-container" style="max-width: 800px">
        <div class="w3-display-container mySlides" >
		    <img src="{{ url_for('static', filename='images/santiago.jpg') }}" alt="{{ _("Santiago de Compostela - Cattedrale") }}" style="width: 100%">     {# Santiago de Compostela - Cattedrale #}
		    <div class="w3-display-bottomright w3-container w3-padding-16 w3-black">
                Santiago de Compostela
            </div>
        </div>

        <div class="w3-display-container mySlides">
		    <img src="{{ url_for('static', filename='images/berlin.jpg') }}" alt="{{ _('Berlino - Porta di Brandeburgo') }}" style="width: 100%">        {# Berlino - Porta di Brandeburgo #}
            <div class="w3-display-bottomright w3-container w3-padding-16 w3-black">
                Berlin
            </div>
        </div>

        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

    </div>
    <div class="w3-content" style="margin-top: 60px; max-width: 500px">
    <form method="POST">
    {{ form.csrf_token }}
    <p class="w3-center">
        {{ form.trip(class="w3-theme-l4", style="width: 50%") }}
    </p>

    <p class="w3-center">
        {{ form.submit(class="w3-button w3-margin-top w3-theme-action w3-hover-theme-d2 w3-ripple", style="width: 80px") }}
    </p>

    </form>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
    const session = {{ session|tojson }};
    const LANG_ROOT = {{ url_for("set_language", lang='')|tojson }}

    let slideIndex = {{ carousel_pos }};

    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        const slides = document.querySelectorAll(".mySlides");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (const slide of slides) {
            slide.style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
    }
</script>
{% endblock %}
