{% extends 'layout.jinja2' %}

{% block styles %}
h1 {
	color: #2bf82b;	
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 15px;
	text-shadow: 5px 5px;	
	font-size: 5rem;
}
{% endblock %}

{% block header %}
	<div class="w3-display-container" style="height: 16rem;">
		<h1 class="w3-display-middle">{% block title %}I Miei Viaggi{% endblock %}</h1>
	</div>
{% endblock %}

{% block content %}
<div style="margin-top: 60px">
    <div class="w3-content w3-display-container" style="max-width: 500px">
        <div class="w3-display-container mySlides" >
		    <img src="{{ url_for('static', filename='images/santiago.jpg') }}" alt="cattedrale di Santiago de Compostela" style="width: 100%">
		    <div class="w3-display-bottomright w3-container w3-padding-16 w3-black">
                Santiago de Compostela
            </div>
        </div>

        <div class="w3-display-container mySlides">
		    <img src="{{ url_for('static', filename='images/berlin.jpg') }}" alt="Berlino" style="width: 100%">
            <div class="w3-display-bottomright w3-container w3-padding-16 w3-black">
                Berlin
            </div>
        </div>

        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

    </div>
    <div class="w3-content" style="margin-top: 60px; max-width: 500px">
    <form method="POST">
    {{ form.csrf_token }}
    <p class="w3-center">
        {{ form.trip(class="w3-theme-l4", style="width: 50%") }}
    </p>

    <p class="w3-center">
        {{ form.submit(class="w3-button w3-margin-top w3-theme-action w3-hover-theme-d2 w3-ripple", style="width: 80px") }}
    </p>

    </form>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>
{% endblock %}
