<!doctype html>
<html>
<head>
<title>AMP - {% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3-styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/my-styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/my-theme.css') }}">
{#
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
#}
<style>
{% block styles %}{% endblock %}
</style>
<script src="https://kit.fontawesome.com/40f7c1eb26.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='scripts/scripts.js') }}" defer></script>
</head>

<body class="w3-theme-l4" {% block extend %}{% endblock %}>
    <header class="w3-container w3-theme-d2 w3-center w3-padding-24">
    {% block header %}
        <h2>{{ _('I miei viaggi') }}</h2>
    {% endblock %}
    </header>

    <section class="content">
        {% for message in get_flashed_messages(category_filter='error') %}
        <div class="flash w3-panel w3-pale-red w3-display-container w3-border-red w3-round-large">
		    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright w3-hover-pale-red">&times;</span>
		    <p>{{ message }}</p>
	    </div>
        {% endfor %}

        {% for message in get_flashed_messages(category_filter='warning') %}
        <div class="flash w3-panel w3-pale-yellow w3-display-container w3-border-yellow w3-round-large">
		    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright w3-hover-pale-yellow">&times;</span>
		    <p>{{ message }}</p>
	    </div>
        {% endfor %}

        {% for message in get_flashed_messages(category_filter='info') %}
	    <div class="flash w3-panel w3-pale-green w3-display-container w3-border-green w3-round-large">
		    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright w3-hover-pale-green">&times;</span>
		    <p>{{ message }}</p>
	    </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
    {% block scripts %}{% endblock %}
</body>
</html>
