<body lang="it-IT" dir="ltr"><p style="line-height: 100%; margin-bottom: 0cm">
Gentile utente</p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; text-indent: 25px; margin-bottom: 0cm">Lei riceve questa
mail perché qualcuno ha richiesto di resettare la sua password per
il sito “foreverwalk.ddns.net”. Se l’autore della richiesta non
è lei ignori questa mail altrimenti clicchi su questo link <a href="{{ url }}">Reset Password</a> per
procedere al reset della passwod.</p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm">Cordiali saluti</p>
<p style="line-height: 100%; margin-bottom: 0cm"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0cm">Angelo</p>
</body>
</html>